.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  outline: none;
  padding: 50px;
  .paper {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > * {
      margin: 20px 0;
    }
  }
}