.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  > div {
    margin: 5px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 115px;
  }
}